<script type="text/javascript">
{% if debug %}
let debug = true
{% else %}
let debug = false
{% endif %}
let healthstatus={}
{% for section in healthcheck.healthchecksections %}
healthstatus['{{section.sectionid}}'] = {}
    {% for service in section.healthcheckservices %}
        {% if service.healthstatus %}
healthstatus['{{section.sectionid}}']['{{service.serviceid}}'] = {"timeout":{{service.timeout}},"checkstart":"{{service.healthstatus[1][0]}}","nextcheck": new Date("{{service.healthstatus[0]}}"),"message":`
       Health Status : {{service.healthstatus_name}}
    Check Start Time : {{service.healthstatus_checkstart}} 
      Check End Time : {{service.healthstatus_checkend}}
Health Check Message : {{service.healthstatus_info}}
     Next Check Time : {{service.healthstatus_nextcheck}}
`}
        {% else %}
healthstatus['{{section.sectionid}}']['{{service.serviceid}}'] = {"timeout":{{service.timeout}},"checkstart":"","nextcheck": null,"message":`Health Status : N/A
Check Start Time : N/A 
Check End Time : N/A
Health Status Message : N/A
Next Check Time : N/A
`}
        {% endif %}
    {% endfor %}
{% endfor %}

let controller = null
let connect_msg = "initial connecting..."
let connect_times = 0
let lasttime2receivedata = new Date()
let heartbeat_timeouts = 0
let running = true
let fetching = false
const nextcheck_timeout_delay = {{nextcheck_timeout_delay}}
const statuslist = ["green","yellow","red","error"]

window.addEventListener('beforeunload', (event) => {
    running = false
});

function format_date(d) {
    return d.getFullYear() + '-' + String(d.getMonth() + 1).padStart(2,'0') + "-" + String(d.getDate()).padStart(2,'0') + "T" + String(d.getHours()).padStart(2,'0') + ":" + String(d.getMinutes()).padStart(2,'0') + ":" + String(d.getSeconds()).padStart(2,'0')

}

function browserside_check() {
    let now = new Date()
    if ((now - lasttime2receivedata) > 120000) {
        //never receive any data in latest 2+ minutes
        //reload the page
        if (controller !== null) {
            controller.abort()
        }
        return 
    }
    const nowstr = format_date(now)
    Object.entries(healthstatus).forEach(([section, sectionstatus]) => {
        Object.entries(sectionstatus).forEach(([service,servicestatus]) => {
            if (!servicestatus["nextcheck"]) {
                return
            }
            if (!servicestatus["nextcheck"]) {
                return
            }
            const nextcheck_timeout = servicestatus["timeout"] + nextcheck_timeout_delay
            if (now - servicestatus["nextcheck"] > nextcheck_timeout ) {
                //next check not running, maybe caused by healthcheck service or the target service
                if (section == "Healthcheck" && service == "Healthcheck-Heartbeat") {
                    heartbeat_timeouts += 1
                }
                statuslist.forEach((status) => {
                    if (status == "error") {
                        document.getElementById(section+ "-" + service + "-statusname-error").style.display = "inline"
                    } else {
                        document.getElementById(section+ "-" + service + "-statusname-" + status).style.display = "none"
                    }
                });
                
                const nextcheck = servicestatus["nextcheck"]
                const nextcheckstr = format_date(nextcheck)
                if (connect_msg) {
                    if (debug) {
                        healthstatus[section][service]["message"] = `
           Health Status : error 
    Health Check Message : ` + connect_msg + `
         Next Check Time : ` + nextcheckstr + `
        Check Start Time : ` + healthstatus[section][service]["checkstart"] + `
          Check End Time : ` + healthstatus[section][service]["checkend"] + `
         Check Send Time : ` + healthstatus[section][service]["sendtime"] + `
      Check Receive Time : ` + healthstatus[section][service]["receivetime"] + `
               Scan Time : ` + nowstr + `
    `
                    } else {
                        healthstatus[section][service]["message"] = `
           Health Status : error 
    Health Check Message : ` + connect_msg + `
         Next Check Time : ` + nextcheckstr + `
    `
                    }
                    if (document.getElementById(section+ "-" + service + "-details")) {
                        document.getElementById(section+ "-" + service + "-details").style.display="none"
                    }
                } else if (debug) {
                    healthstatus[section][service]["message"] = `
           Health Status : error 
    Health Check Message : Next Health check should be executed ` + Math.floor((now - servicestatus["nextcheck"]) / 1000) + ` seconds ago.
         Next Check Time : ` + nextcheckstr + `
        Check Start Time : ` + healthstatus[section][service]["checkstart"] + `
          Check End Time : ` + healthstatus[section][service]["checkend"] + `
         Check Send Time : ` + healthstatus[section][service]["sendtime"] + `
      Check Receive Time : ` + healthstatus[section][service]["receivetime"] + `
               Scan Time : ` + nowstr + `
    `
                } else {
                    healthstatus[section][service]["message"] = `
           Health Status : error 
    Health Check Message : Next Health check should be executed ` + Math.floor((now - servicestatus["nextcheck"]) / 1000) + ` seconds ago.
         Next Check Time : ` + nextcheckstr + `
    `

                }
            }
        });
    });
}

let browserside_check_task = null

function start_browserside_check(){
    if (browserside_check_task === null ) {
       browserside_check_task = setInterval(browserside_check,{{nextcheck_checkinterval}})
    }
}

function stop_browserside_check(){
    if (browserside_check_task === null ) {
        return
    }
    clearInterval(browserside_check_task)
}


if (typeof continuouscheck_started === "function") {
    _continuouscheck_started = continuouscheck_started
} else {
    function _continuouscheck_started() {
    }
}

if (typeof continuouscheck_stopped === "function") {
    _continuouscheck_stopped = continuouscheck_stopped
} else {
    function _continuouscheck_stopped() {
    }
}

function showCustomAlert(section,service,msg) {
    if (section) {
        document.getElementById('alerttitle').textContent = section + ':' + service;
    } else {
        document.getElementById('alerttitle').textContent = service;
    }
    document.getElementById('alertbody').textContent = msg;
    document.getElementById('alertdialog').style.display = 'flex';
}

function closeCustomAlert() {
  document.getElementById('alertdialog').style.display = 'none';
}


async function fetch_healthstatus() {
    fetching = true
    connect_times += 1
    try {
        controller = new AbortController();
        const response = await fetch("{{statusstreamurl}}",{redirect:"manual",signal: controller.signal})
        const decoderStream = new TextDecoderStream();
        if (response.type == "opaqueredirect") {
            window.location.reload(true);
        }
        connect_msg = null
        const resbody = response.body.pipeThrough(decoderStream)

        const reader = resbody.getReader();
        let remaindata = ""
        let datas = null
        let now = null
        let nowstr = null
        let checkstart = null
        let nextcheck = null
        let nextcheckstr = null
        while (running) {
            const { done, value } = await reader.read();
            lasttime2receivedata = new Date()
            if (done) {
                throw new Error("Stream connection is end for unknown reason.")
            }
            if (value === null){
                //continue to read data from stream
                continue
            }
            if (debug) {
                now = new Date()
                nowstr = format_date(now)
            }
            if (value === "\n") {
                //heartbeat
                continue
            }
            datas = value.split("\n")
            for(let i = 0;i < datas.length - 1;i++) {
                try{
                    //data item: [[sectionid,serviceid],[next checktime,[check startime,check endtime,status name,msg,persistent?]]]
                    if ( i === 0 && remaindata !== "" ) {
                        try {
                            datas[i] = JSON.parse(datas[i])
                        } catch (error) {
                            datas[i] = JSON.parse(remaindata + datas[i])
                        }
                    } else {
                        datas[i] = JSON.parse(datas[i])
                    }
                    if (typeof datas[i] == "string") {
                        if (datas[i] === "reload") {
                            window.location.reload(true);
                        } else if (datas[i] === "continuouscheck_started") {
                            _continuouscheck_started()
                        } else if (datas[i] === "continuouscheck_stopped") {
                            _continuouscheck_stopped()
                        }
                        continue
                    }
                    if (datas[i][1] === null) {
                        continue
                    }
                    //console.log("Received Data: " + JSON.stringify(datas[i]))
                    if (datas[i][0][0] == "Healthcheck" && datas[i][0][1] == "Healthcheck-Heartbeat") {
                        heartbeat_timeouts = 0
                    }
                    checkstart = datas[i][1][1][0]
                    if (healthstatus[datas[i][0][0]][datas[i][0][1]]["checkstart"] == checkstart) {
                        //the status was already processed before
                        continue
                    }
                    healthstatus[datas[i][0][0]][datas[i][0][1]]["checkstart"] = checkstart
                    healthstatus[datas[i][0][0]][datas[i][0][1]]["checkend"] = datas[i][1][1][1]
                    statuslist.forEach((status) => {
                        if (status == datas[i][1][1][2]) {
                            document.getElementById(datas[i][0][0]+ "-" + datas[i][0][1] + "-statusname-" + status).style.display="inline"
                        } else {
                            document.getElementById(datas[i][0][0]+ "-" + datas[i][0][1] + "-statusname-" + status).style.display="none"
                        }
                    });
                    nextcheck = new Date(datas[i][1][0])
                    healthstatus[datas[i][0][0]][datas[i][0][1]]["nextcheck"] = nextcheck
        
                    nextcheckstr = format_date(nextcheck)
                    if (debug){ 
                        healthstatus[datas[i][0][0]][datas[i][0][1]]["sendtime"] = datas[i][2]
                        healthstatus[datas[i][0][0]][datas[i][0][1]]["receivetime"] = nowstr

                        healthstatus[datas[i][0][0]][datas[i][0][1]]["message"] = `    
       Health Status : ` + datas[i][1][1][2] + `
    Check Start Time : ` + datas[i][1][1][0] + `
      Check End Time : ` + datas[i][1][1][1] + `
     Check Send Time : `  + datas[i][2] + `
  Check Receive Time : `  + nowstr + `
Health Check Message : ` + datas[i][1][1][3] + `
     Next Check Time : `  + nextcheckstr + ` 
`
                    } else {
                        healthstatus[datas[i][0][0]][datas[i][0][1]]["message"] = `
       Health Status : ` + datas[i][1][1][2] + `
    Check Start Time : ` + datas[i][1][1][0] + `
      Check End Time : ` + datas[i][1][1][1] + `
Health Check Message : ` + datas[i][1][1][3] + `
     Next Check Time : `  + nextcheckstr + ` 
`
                    }
                    if (datas[i][1][1][4]) {
                        document.getElementById(datas[i][0][0]+ "-" + datas[i][0][1] + "-details").style.display="inline";
                        document.getElementById(datas[i][0][0]+ "-" + datas[i][0][1] + "-details-link").href= "{{baseurl}}/details/"+ datas[i][0][0] + "/" +  datas[i][0][1] + "/" + datas[i][1][1][0]
                    } else{
                        document.getElementById(datas[i][0][0]+ "-" + datas[i][0][1] + "-details").style.display="none";
                        document.getElementById(datas[i][0][0]+ "-" + datas[i][0][1] + "-details-link").href="";
                    }
                } catch(error) {
                    console.error("connect_times:" + connect_times + " , data: " + datas[i] + " , remaindata:" + remaindata + " , error:" + error)
                }
            }
            remaindata = datas[datas.length - 1]
            if (heartbeat_timeouts >= 3) {
                //System failed to sync all services' health check data, 
                //Still don't know the reason until now
                //Reconnect the status stream to resolve the issue
                throw new Error("Failed to sync services' healthcheck data, reconnect to healthcheck service.")
            }
        }
        throw new Error("Stop fetching the healthcheck status.")
    } catch (error) { 
        if (controller !== null) {
            controller.abort()
        }
        if (running) {
            connect_msg = "Connect times(" + connect_times + ") : Can't read healthdata from web server, try again 5 seconds later: " + error
            console.error(connect_msg)
            setTimeout(fetch_healthstatus,5000)
        } else {
            fetching = false
        }
    }
}
fetch_healthstatus()
</script>

<table class="healthstatusblock">
{% for section in healthcheck.healthchecksections %}
{% if section.enabled %}
    {% if section.name %}
    <tr class="sectionnamerow"><td class="sectionnamecolumn"><span class="sectionname">{{section.name}}</span></td></tr>
    {% endif %}
    <tr class="sectionhealthstatusrow"><td class="sectionhealthstatuscolumn">
    {% for service in section.healthcheckservices %}
    {% if service.enabled %}
    <div class="servicehealthstatus">
        <div class="servicename">{{service.name}}</div>
        <div class="healthstatus" id="{{section.sectionid}}-{{service.serviceid}}-statusname">
              {% if service.healthstatus_name == "green" %}
              <img id="{{section.sectionid}}-{{service.serviceid}}-statusname-green" src="/static/img/green.svg" style="display:inline" class="healthstatusimg"/>
              {% else %}
              <img id="{{section.sectionid}}-{{service.serviceid}}-statusname-green" src="/static/img/green.svg" style="display:none" class="healthstatusimg"/>
              {% endif %}
              {% if service.healthstatus_name == "yellow" %}
              <img id="{{section.sectionid}}-{{service.serviceid}}-statusname-yellow" src="/static/img/yellow.svg" style="display:inline" class="healthstatusimg"/>
              {% else %}
              <img id="{{section.sectionid}}-{{service.serviceid}}-statusname-yellow" src="/static/img/yellow.svg" style="display:none" class="healthstatusimg"/>
              {% endif %}
              {% if service.healthstatus_name == "red" %}
              <img id="{{section.sectionid}}-{{service.serviceid}}-statusname-red" src="/static/img/red.svg" style="display:inline" class="healthstatusimg"/>
              {% else %}
              <img id="{{section.sectionid}}-{{service.serviceid}}-statusname-red" src="/static/img/red.svg" style="display:none" class="healthstatusimg"/>
              {% endif %}
              {% if service.healthstatus_name == "error" %}
              <img id="{{section.sectionid}}-{{service.serviceid}}-statusname-error" src="/static/img/error.svg" style="display:inline" class="healthstatusimg"/>
              {% else %}
              <img id="{{section.sectionid}}-{{service.serviceid}}-statusname-error" src="/static/img/error.svg" style="display:none" class="healthstatusimg"/>
              {% endif %}
        </div>
        <div class="healthstatusbuttons">
            <A href="javascript:showCustomAlert(`{{section.name}}`,`{{service.name}}`,healthstatus['{{section.sectionid}}']['{{service.serviceid}}']['message'])"><img src="/static/img/info.svg" class="imgbutton"/></A> 
            {% if service.healthstatus_persistent %}
            <span id="{{section.sectionid}}-{{service.serviceid}}-details">
            {% else %}
            <span id="{{section.sectionid}}-{{service.serviceid}}-details" style="display:none">
            {% endif %}
            | 
            {% if service.healthstatus[1] %}
            <A target="health check detail" id="{{section.sectionid}}-{{service.serviceid}}-details-link" href="{{baseurl}}/details/{{service.sectionid}}/{{service.serviceid}}/{{service.healthstatus[1][0].strftime('%Y-%m-%dT%H:%M:%S.%f')}}"><img src="/static/img/details.svg" class="imgbutton"/></A>
            {% else %}
            <A target="health check detail" id="{{section.sectionid}}-{{service.serviceid}}-details-link" href="#"><img src="/static/img/details.svg" class="imgbutton"/></A>
            {% endif %}
            </span>
            {% if service.historyenabled %}
            <span id="{{section.sectionid}}-{{service.serviceid}}-history">
            | <A target="health check history" id="{{section.sectionid}}-{{service.serviceid}}-history-link" href="{{baseurl}}/history/{{service.sectionid}}/{{service.serviceid}}"><img src="/static/img/history.svg" class="imgbutton"/></A>
            </span>
            {% endif %}
            {% if service.errorhistoryenabled %}
            <span id="{{section.sectionid}}-{{service.serviceid}}-history">
            | <A target="health check error history" id="{{section.sectionid}}-{{service.serviceid}}-errorhistory-link" href="{{baseurl}}/errorhistory/{{service.sectionid}}/{{service.serviceid}}"><img src="/static/img/errorhistory.svg" class="imgbutton"/></A>
            </span>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    </td></tr>
{% endif %}
{% endfor %}
</table>

<!-- Custom Alert Backdrop & Box -->
<div id="alertdialog" >
  <div id="alertcontainer">
    <h3 id="alerttitle"></h3>
    <p id="alertbody"></p>
    <button onclick="closeCustomAlert()">OK</button>
  </div>
</div>


