<!doctype html>
<html lang="en">
  <head>
    <title>DBCA Essential Systems Health Check Editing Preview</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="DBCA Spatial Support System health checks" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        {% include 'healthcheck/inc/healthcheck.css' %}
    </style>
    <script type="text/javascript">
        function continuouscheck_started() {
            document.getElementById("runningstatus").innerHTML="Running..."
            document.getElementById("button_start").disabled = true
            document.getElementById("button_stop").disabled = false
            start_browserside_check()
        }
        function continuouscheck_stopped() {
            document.getElementById("runningstatus").innerHTML="Stopped"
            document.getElementById("button_start").disabled = false
            document.getElementById("button_stop").disabled = true
            stop_browserside_check()

        }
        window.onload = function() {
            continuouscheck_started()
        }

        {% include 'healthcheck/inc/healthcheck.js' %}
    </script>
  </head>
  <body>
      <h3>
      <table class="menubar"><tr><th>
       DBCA Essential Systems Health Check Editing Preview (<span id="runningstatus" style="color:blue"></span>)
      </th><td style="text-aligh:right">
          <button onclick="start_preview();" id="button_start">Start</button>
          <button onclick="stop_preview();" id="button_stop">Stop</button>
      </td>
        {% include 'healthcheck/inc/help.html' %}
      </tr></table>
      </h3>


      {% include 'healthcheck/inc/messages.html' %}

      {% include 'healthcheck/inc/healthcheckstatus.html' %}

  </body>
</html>
